<template name="app">
  {{#with app}}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>{{name}}  <div class="{{connectionStatus}} status-circle"></div></h2>
        <h4><a class="btn btn-primary app-button">Logs</a>
        <a class="btn btn-default config-button">Config</a></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Stats</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <h4>CPU</h4>
        <div id="cpu-graph-y-axis"></div>
        <div id="cpu-graph"></div>
        <h4>Memory</h4>
        <div id="memory-graph"></div>
        <h4>Load</h4>
        <div id="load-graph"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Logs</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <div class="logs">
          {{#each logs}}
            <div class="log {{level}}">
              [{{level}}] - {{createdFormatted}} - {{message}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Events</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <table class="table apps-table table-hover">
          <thead>
            {{#if eventList}}
              <tr>
                <td>Type</td>
                <td>Created At</td>
                <td>Direction</td>
                <td>Value</td>
                <td>Completed</td>
              </tr>
            {{/if}}
          </thead>
          <tbody>
            {{#each eventList}}
              <tr>
                <td>{{type}}</td>
                <td>{{createdFormatted}}</td>
                <td>{{data.direction}}</td>
                <td>{{data.currentValue}}</td>
                <td>{{completeString}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    
  {{/with}}
</template>