<template name="app">
  {{#with app}}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>{{name}}</h2>
        <h4><a class="btn btn-primary app-button">Logs</a>
        <a class="btn btn-default config-button">Config</a></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Stats</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <h4>CPU</h4>
        <div id="cpu-graph"></div>
        <h4>Memory</h4>
        <div id="memory-graph"></div>
        <h4>Load</h4>
        <div id="load-graph"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Logs</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <div class="logs">
          {{#each logs}}
            <div class="log">
              [{{level}}] - {{createdFormatted}} - {{message}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Events</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        {{#each eventList}}
          {{createdFormatted}}<br>
          {{type}}<br>
          {{completed}}<br>
          {{data}}
        {{/each}}
      </div>
    </div>
    
  {{/with}}
</template>