<template name="appConfig">
  {{#with app}}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>{{name}}  <div class="{{connectionStatus}} status-circle"></div></h2>
        <h4><a class="btn btn-default app-button">Logs</a>
        <a class="btn btn-primary config-button">Config</a></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Yo Setup</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <h5><strong>Setup your yo accounts for event notifications</strong></h5>
        <ul class="list-group">
        {{#each yoUserNames}}
          <li class="list-group-item">{{this}}<span class="pull-right glyphicon glyphicon-remove remove-yo-user"></span></li>
        {{/each}}
        <li class="list-group-item">
          <div class="input-group">
            <input type="text" id="add-yo-user-input" class="form-control" placeholder="New Yo Username...">
            <span class="input-group-btn">
              <button class="btn btn-success add-yo-user" type="button">Add</button>
            </span>
          </div>
        </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Event Triggers</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <h4>CPU</h4>
        <div class="thresholder" data-type="cpu">
          <div class="thresh-limit start-val">0%</div>
          <div class="thresh-limit end-val">100%</div>
          {{#each thresholds 'cpu'}}
            {{> thresholdVal}}
          {{/each}}
        </div>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <h4>Memory</h4>
        <div class="thresholder" data-type="memory">
          <div class="thresh-limit start-val">0%</div>
          <div class="thresh-limit end-val">100%</div>
          {{#each thresholds 'memory'}}
            {{> thresholdVal}}
          {{/each}}
        </div>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <h4>Load Average</h4>
        <div class="thresholder" data-type="loadAvg">
          <div class="thresh-limit start-val">0</div>
          <div class="thresh-limit end-val">6.0</div>
          {{#each thresholds 'loadAvg'}}
            {{> thresholdVal}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/with}}
</template>

<template name="thresholdVal">
  <div class="threshold" data-toggle="popover" title=" " id="threshold-{{_id}}" style="left: {{leftValue}}%;"><span class="glyphicon glyphicon-exclamation-sign"></span></div>
</template>

<template name="thresholdPopover">
  Value:<br>
  <input class="thresh-value form-control" value="{{value}}" type="number"><br>
  Emitted Event:<br>
  <input class="event-name form-control" value="{{eventName}}" type="text"><br>
  <div class="btn btn-primary update-threshold">Save</div>
  <br><br>
  <div class="btn btn-info trigger-threshold">Trigger Threshold Event</div><br><br>
  <div class="btn btn-danger delete-threshold">Delete Threshold</div>
</template>