<template name="appConfig">
  {{#with app}}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>{{name}}</h2>
        <h4><a class="btn btn-default app-button">Logs</a>
        <a class="btn btn-primary config-button">Config</a></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Yo Setup</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        Setup your yo account for event notifications
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Event Triggers</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <h4>CPU</h4>
        <div class="thresholder" data-type="cpu">
          <div class="thresh-limit start-val">0%</div>
          <div class="thresh-limit end-val">100%</div>
          {{#each thresholds 'cpu'}}
            {{> thresholdVal}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/with}}
</template>

<template name="thresholdVal">
  <div class="threshold" data-toggle="popover" title=" " style="left: {{value}}%;"><span class="glyphicon glyphicon-exclamation-sign"></span></div>
</template>

<template name="thresholdPopover">
  {{value}}%<br>
  Emitted Event:<br>
  <input class="event-name form-control" value="{{eventName}}" type="text"><br><br>
  <div class="btn btn-info trigger-threshold">Trigger Threshold Event</div><br><br>
  <div class="btn btn-danger delete-threshold">Delete</div>
</template>