<template name="appConfig">
  {{#with app}}
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>{{name}}</h2>
        <h4><a class="btn btn-default app-button">Logs</a>
        <a class="btn btn-primary config-button">Config</a></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Yo Setup</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        Setup your yo account for event notifications
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Event Triggers</h3>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <h4>CPU</h4>

      </div>
    </div>
    
  {{/with}}
</template>