<template name="apps">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h3>My Apps</h3>
      <table class="table apps-table table-hover">
        <thead>
          {{#if apps}}
            <tr>
              <td>Name</td>
              <td>API Key</td>
              <td>Created At</td>
              <td>Last Connected</td>
              <td>Status</td>
            </tr>
          {{/if}}
        </thead>
        <tbody>
          {{#each apps}}
            <tr class="app-row">
              <td>{{name}}</td>
              <td>{{apiKey}}</td>
              <td>{{createdFormatted}}</td>
              <td>{{lastConnectedFormatted}}</td>
              <td class="text-center">
                <div class="{{connectionStatus}} status-circle">
                </div>
              </td>
            </tr>
          {{/each}}
            <tr>
              <form class="add-new-app-form">
                <td colspan="2">
                  <input type="text" id="new-app-name" class="form-control" placeholder="New App Name...">
                </td>
                <td colspan="3">
                  <div class="btn btn-primary create-new-app">Create</div>
                </td>
              </form>
            </tr>
        </tbody>
      </table>

    </div>
  </div>
</template>