<template name="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Voyager</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a class="home-button">Home</a></li>
            {{#if currentUser}}
                <li class="active"><a class="apps-button">My Apps</a></li>
                <li class="active"><a class="add-apps-button">Add App</a></li>
            {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}}
        </ul>
    </div>
  </div>
</template>