<template name="home">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Welcome to Voyager</h2>

      <p class="lead">
        Voyager is a server monitoring tool for Meteor.<br>
        Created at the 2014 Meteor Summer Hackathon by:<br>
        Roshan Jobanputra, Harrison Harnisch, and Colin DuRant
      </p>

      <h4>
        Please <a class="open-login">login</a> or <a class="open-login">signup</a> to get started
      </h4>
    </div>
  </div>
</template>