.alerts {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40%;
}

.logs {
    background: black;
    padding: 10px;
    border-radius: 3px;
    font-family: monospace;
    color: #eee;
}

.log {
    margin: 0 10px;
}

.log.debug {
}

.log.info {
    color: blue;
}

.log.warn {
    color: yellow;
}

.log.error {
    color: red;
}

.log.critical {
    color: orange;
}
